<div class="widget">
    <ul>
        <li>
            <a href="{{ path('user_profile') }}">
                <i class="icon-user icons" aria-hidden="true"></i> {{ 'Profile'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit') }}">
                <i class="icon-pencil icons" aria-hidden="true"></i> {{ 'Edit Profile'|trans }}
            </a>
        </li>
        <li>
            <a href=" {{ path('user_articles') }}">
                <i class="icon-docs icons" aria-hidden="true"></i> {{ 'Articles'|trans }}
            </a>
        </li>
        <li>
            <a href=" {{ path('user_change_password') }}">
                <i class="icon-lock icons" aria-hidden="true"></i> {{ 'Change Password'|trans }}
            </a>
        </li>
    </ul>
</div>