{% extends 'base.html.twig' %}

{% block title %}{{ user.name }} - {{ 'Edit Profile'|trans }}{% endblock %}

{% block main %}
    <h1 class="page-title text-center mb-5">{{ 'Edit Profile'|trans }}</h1>
    {{ parent() }}

    {# Debug validation#}
    {#  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-custom btn-block mt-3">
        {{ 'Save'|trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}
{% block sidebar %}

    {% include('profile/_widget.html.twig') %}

    {{ parent() }}

{% endblock %}