<header id="topnav">
    <div class="container">
        <a href="{{ path('article_index') }}" class="navbar-brand">Symfony 5 Playground</a>
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <nav id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                {% block header_navigation_links %}
                    <li>
                        <a href="{{ path('article_index') }}">
                            {{ 'menu.homepage'|trans }}
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="{{ path('article_index') }}">
                            {{ 'menu.articles'|trans }}
                        </a>
                        <span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li>
                                <a href="{{ path('article_index') }}">
                                    {{ 'menu.categories'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('article_index') }}">
                                    {{ 'menu.tags'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if app.user %}
                        <li class="has-submenu">
                            <a href="#">
                                {{ 'message.hello'|trans }} {{ app.user.name }}
                            </a>
                            <span class="menu-arrow"></span>
                            <ul class="submenu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('admin') }}">
                                            <i class="icon-speedometer icons" aria-hidden="true"></i>  {{ 'menu.admin'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('user_edit') }}">
                                        <i class="icon-user icons" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}">
                                        <i class="icon-logout icons" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">
                                <i class="icon-login icons" aria-hidden="true"></i> {{ 'menu.sign_in'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}">
                                <i class="icon-user-following icons" aria-hidden="true"></i> {{ 'menu.register'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
            <!-- End navigation menu-->
        </nav>
    </div>
</header>
<!-- End Navigation Bar-->