<div class="widget widget_search">
    <form action="{{ path('article_search') }}" method="get">
        <input name="q"
                class="form-control js-search-input search-field"
               type="search"
               placeholder="{{ 'Search...' | trans }}"
               autocomplete="off"
               value=""
               autofocus
               data-no-results-message="{{ 'No articles found'|trans }}">
    </form>
</div>

<div class="widget widget_categories">
    <div class="widget-title">
        {{ 'Category' | trans }}
    </div>
    <ul>
        {% for category in categories %}
            <li>
                <a href="#">
                    {{ category.name }}
                </a>
                <span class="float-right">
                    {{ category.articles | length }}
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="widget widget_tag_cloud">
    <div class="widget-title">
        {{ 'Tags' | trans }}
    </div>
    <div class="tagcloud">
        {% for tag in tags %}
            <a href="#">
                {{ tag.name }}
{#                {{ tag.articles | length }}#}
            </a>
        {% endfor %}
    </div>
</div>
{{ dump(tags) }}
