{% extends 'base.html.twig' %}

{% block title %}{{ 'Article Index'|trans }}{% endblock %}

{% block main %}

    {% for article in paginator.results %}
        <article class="post">
            <div class="text-center post-header">
                <a class="badge badge-custom" href="#" title="">{{ article.category }}</a>
                <h2 class="post-title">
                    <a href="{{ path('article_show', {slug: article.slug}) }}" title="">
                        {{ article.title }}
                    </a>
                </h2>
                <span class="post-meta">
                    <span class="post-date">
                        {{ article.createdAt ? article.createdAt|date('m d, Y') : '' }}
                    </span>
                    <i class="icon-star icons"></i>
                    <span class="reading-time" title="{{ 'Estimated read time'|trans }}">
                        {% set numberOfWords = article.content|split(' ')|length / 200 %}
                        {{ numberOfWords | round(0, 'ceil') }} {{ 'min read' | trans }}
                    </span>
                </span>
            </div>
            <div class="post-content">
                <p>
                    {{ article.content|striptags|slice(0,278)|raw }}
                </p>
            </div>
            <div class="text-center">
                <a href="{{ path('article_show', {slug: article.slug}) }}" class="btn btn-outline-custom">
                    {{ 'Read more' | trans }}
                    <i class="mdi mdi-arrow-right"></i>
                </a>
            </div>
        </article>

        {#        {% for tag in article.tags %}#}
        {#            <span class="mb-2 mb-md-0 badge badge-secondary"><a class="text-white" href="">{{ tag.name }}</a></span>#}
        {#        {% endfor %}#}

        {#        {{ article.id }}#}
        {#        {{ article.published ? 'Yes' : 'No' }}#}
        {#        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}

    {% else %}
        <div class="well">{{ 'No articles found' | trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        <nav class="navigation pt-5">
            <ul class="pagination  d-flex justify-content-center mt-3">
                {% if paginator.lastPage > 1 %}
                    {% set nearbyPagesLimit = 4 %}

                    {% if paginator.hasPreviousPage %}
                        <li class="first">
                            <a href="{{ path('article_index_paginated', {page: '1'}) }}" rel="first">
                                <i class="icon-control-rewind icons"></i>
                            </a>
                        </li>
                        <li class="prev">
                            <a href="{{ path('article_index_paginated', {page: paginator.previousPage}) }}"
                               rel="previous">
                                <i class="icon-arrow-left icons"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in 1..paginator.lastPage %}
                        {% if 0 == (paginator.currentPage - nearbyPagesLimit) - loop.index %}
                            {# dot before #}
                            <li class="disabled">
                                <span class="">...</span>
                            </li>
                        {% elseif 0 == (paginator.currentPage + nearbyPagesLimit) - loop.index %}
                            {# dot after #}
                            <li class="disabled">
                                <span class="">...</span>
                            </li>
                        {% elseif 0 < (paginator.currentPage - nearbyPagesLimit) - loop.index %}
                            {# hide all before #}
                        {% elseif 0 > (paginator.currentPage + nearbyPagesLimit) - loop.index %}
                            {# hide all after #}
                        {% elseif i == paginator.currentPage %}
                            <li class="active">
                                <span>{{ i }} </span>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('article_index_paginated', {page: i}) }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.hasNextPage %}
                        <li class="next">
                            <a href="{{ path('article_index_paginated', {page: paginator.nextPage}) }}" rel="next">
                                <i class="icon-arrow-right icons"></i>
                            </a>
                        </li>
                        <li class="last">
                            <a href="{{ path('article_index_paginated', {page: paginator.lastPage}) }}" rel="Last">
                                <i class="icon-control-forward icons"></i>
                            </a>
                        </li>
                    {% endif %}

                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
