<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ 'Articles RSS'|trans }}</title>
        <description>{{ 'Most recent articles'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <link>{{ url('article_index') }}</link>

        {% for article in paginator.results %}
            <item>
                <title>{{ article.title }}</title>
                <description>{{ article.content|striptags|nl2br|slice(0,278)|escape|raw }}</description>
                <link>{{ url('article_show', {'slug': article.slug}) }}</link>
                <guid>{{ url('article_show', {'slug': article.slug}) }}</guid>
                <pubDate>{{ article.createdAt|date(format='r', timezone='GMT') }}</pubDate>
                <author>{{ article.author.email }}</author>
                {% for tag in article.tags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
            </item>
        {% endfor %}

    </channel>
</rss>