{% extends 'base.html.twig' %}

{% block title %}{{ 'title.change_password'|trans }}{% endblock %}

{% block main %}
    <div class="col-lg-8">
        <h1 class="page-title text-center mb-5">{{ 'title.change_password'|trans }}</h1>
        <div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-custom btn-block mt-3">
             {{ 'action.save'|trans }}
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block sidebar %}
    <div class="col-lg-4">
        <div class="widget">
            <ul>
                <li>
                    <a href="{{ path('user_edit') }}">
                        <i class="icon-note icons" aria-hidden="true"></i> {{ 'menu.edit_profile'|trans }}
                    </a>
                </li>
                <li>
                    <a href=" {{ path('user_change_password') }}">
                        <i class="icon-lock icons" aria-hidden="true"></i> {{ 'menu.change_password'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
